
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

canvas {
    border: 5px solid #4CAF50;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    cursor: pointer;
}

#wordList {
    margin-top: 20px;
}

#wordList h2 {
    margin-bottom: 10px;
}

#wordList div {
    font-size: 18px;
    margin: 5px 0;
}

.selected {
    background-color: orange;
}

.found {
    color: orange;
    font-weight: bold;
}

h1 {
    color: #333;
}
